# üß™ Pr√°cticas por Dataset de Kaggle

## üõçÔ∏è Retail Sales Dataset

üîó Dataset disponible en: [https://www.kaggle.com/datasets/mohammadtalib786/retail-sales-dataset?utm_source=chatgpt.com](https://www.kaggle.com/datasets/mohammadtalib786/retail-sales-dataset?utm_source=chatgpt.com)

In [3]:
# Importat pandas
import pandas as pd

In [35]:
# Cargar el DataSets
df_retail = pd.read_csv('./DataSets/retail_sales_dataset.csv')
df_retail.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

**Pregunta:** ¬øCu√°ntas filas y columnas tiene el dataset?

In [44]:
# Tu c√≥digo aqu√≠
df_retail.shape

(1000, 9)

**Pregunta:** ¬øCu√°les son los tipos de datos de cada columna?

In [38]:
# Tu c√≥digo aqu√≠
df_retail.dtypes

Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

**Pregunta:** ¬øQu√© productos tienen mayores ventas en cantidad?

In [37]:
# Tu c√≥digo aqu√≠
df_retail.groupby('Product Category')['Quantity'].sum().sort_values(ascending=False)

Product Category
Clothing       894
Electronics    849
Beauty         771
Name: Quantity, dtype: int64

**Pregunta:** ¬øQu√© tiendas venden m√°s productos?

In [ ]:
# Tu c√≥digo aqu√≠

Customer ID
CUST008    4
CUST010    4
CUST014    4
CUST726    4
CUST729    4
          ..
CUST973    1
CUST974    1
CUST979    1
CUST004    1
CUST003    1
Name: Quantity, Length: 1000, dtype: int64

**Pregunta:** ¬øExisten datos faltantes o duplicados?

In [41]:
# Tu c√≥digo aqu√≠

# Ver si hay datos faltantes
df_retail.isnull().sum()

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

In [42]:
# Ver si hay filas duplicadas
df_retail.duplicated().sum()

np.int64(0)

**Pregunta:** ¬øCu√°l es el ingreso total por tienda?

In [10]:
# Tu c√≥digo aqu√≠

**Pregunta:** Agrupa las ventas por tipo de producto y encuentra la media de precios.

In [11]:
# Tu c√≥digo aqu√≠

**Pregunta:** Crea una nueva columna llamada `ingreso_total` que sea precio * cantidad.

In [12]:
# Tu c√≥digo aqu√≠

**Pregunta:** Usa una tabla din√°mica para comparar ingresos por tienda y por producto.

In [13]:
# Tu c√≥digo aqu√≠

## üìà Dummy Advertising and Sales Data

üîó Dataset disponible en: [https://www.kaggle.com/datasets/harrimansaragih/dummy-advertising-and-sales-data?utm_source=chatgpt.com](https://www.kaggle.com/datasets/harrimansaragih/dummy-advertising-and-sales-data?utm_source=chatgpt.com)

**Pregunta:** ¬øCu√°l es el gasto promedio en publicidad por canal (TV, Radio, Peri√≥dico)?

In [14]:
# Tu c√≥digo aqu√≠

**Pregunta:** ¬øExiste correlaci√≥n entre el presupuesto publicitario y las ventas?

In [15]:
# Tu c√≥digo aqu√≠

**Pregunta:** ¬øQu√© campa√±as tienen ventas superiores a la media?

In [16]:
# Tu c√≥digo aqu√≠

**Pregunta:** Filtra las campa√±as con publicidad en TV > 200 y Radio > 20.

In [17]:
# Tu c√≥digo aqu√≠

**Pregunta:** Agrupa por canal publicitario y calcula la media de ventas.

In [18]:
# Tu c√≥digo aqu√≠

**Pregunta:** Crea una columna de ROI estimado usando una f√≥rmula simple.

In [19]:
# Tu c√≥digo aqu√≠

**Pregunta:** Realiza una pivot_table para ver ventas promedio por cada tipo de canal.

In [20]:
# Tu c√≥digo aqu√≠

## üé¨ The Movies Dataset

üîó Dataset disponible en: [https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset?utm_source=chatgpt.com](https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset?utm_source=chatgpt.com)

**Pregunta:** ¬øCu√°les son las pel√≠culas con mayor presupuesto?

In [21]:
# Tu c√≥digo aqu√≠

**Pregunta:** ¬øQu√© pel√≠culas obtuvieron mayor ganancia (ingresos - presupuesto)?

In [22]:
# Tu c√≥digo aqu√≠

**Pregunta:** ¬øCu√°ntas pel√≠culas hay por g√©nero?

In [23]:
# Tu c√≥digo aqu√≠

**Pregunta:** ¬øExisten pel√≠culas con presupuesto o ingresos nulos?

In [24]:
# Tu c√≥digo aqu√≠

**Pregunta:** Crea una nueva columna de rentabilidad (ganancia/presupuesto).

In [25]:
# Tu c√≥digo aqu√≠

**Pregunta:** Agrupa por a√±o de lanzamiento y calcula ingresos promedio.

In [26]:
# Tu c√≥digo aqu√≠

**Pregunta:** Realiza una tabla din√°mica que compare ingresos por g√©nero y a√±o.

In [27]:
# Tu c√≥digo aqu√≠

## üå¶Ô∏è Climate Insights Dataset

üîó Dataset disponible en: [https://www.kaggle.com/datasets/goyaladi/climate-insights-dataset?utm_source=chatgpt.com](https://www.kaggle.com/datasets/goyaladi/climate-insights-dataset?utm_source=chatgpt.com)

**Pregunta:** ¬øCu√°ntos registros hay por a√±o?

In [28]:
# Tu c√≥digo aqu√≠

**Pregunta:** ¬øCu√°l es la temperatura media mensual m√°s alta y m√°s baja?

In [29]:
# Tu c√≥digo aqu√≠

**Pregunta:** ¬øQu√© meses tienen mayor precipitaci√≥n?

In [30]:
# Tu c√≥digo aqu√≠

**Pregunta:** ¬øExisten valores faltantes en alguna columna?

In [31]:
# Tu c√≥digo aqu√≠

**Pregunta:** Agrupa por estaci√≥n del a√±o y calcula la media de temperatura.

In [32]:
# Tu c√≥digo aqu√≠

**Pregunta:** Crea una columna que clasifique los d√≠as como 'calurosos' o 'templados'.

In [33]:
# Tu c√≥digo aqu√≠

**Pregunta:** Genera una pivot_table que muestre la temperatura promedio por a√±o y mes.

In [34]:
# Tu c√≥digo aqu√≠