# Ejemplo 1: Esto es un Notebool de Practica

---

### 1. Objetivos: 
- Repasar rapidamente como funciona un Jupyter Notebook

### 2. Requisistos:
- Jupiter Notebook instalado

---

En JN tenemos `Modo comando` y `Modo edicion`.

- El `modo edicion` sirve para editar celdas
- El  `modo comando` sirve para usar comandos en el JN

Esto es una celda Markdown

In [17]:
# Esto es una celda de codigo
# Y yo soy un comentario...

Escribamos algo de codigo para recordar:

In [18]:
var_1 = 4
var_2 = 5

var_1 + var_2

9

In [22]:
print(var_1, var_2)

4 5

In [23]:
print(str(var_1) + ',' + (var_2))

TypeError: can only concatenate str (not "int") to str

In [25]:
print(str(var_1) + ', ' + str(var_2))

4, 5

In [ ]:
print(var_1 + var_2)

In [ ]:
var_1 = 10
var_1 + var_2